/* styles/drug.module.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.drugImage {
    max-width: 200px;
    height: auto;
}

.drugName {
    font-size: 2rem;
    color: #333;
    margin-bottom: 0;
}

.drugAliases {
    color: #777;
    font-size: 1.2rem;
}

.description {
    margin: 2rem auto;
    color: #555;
    max-width: 44rem;
    text-align: center;
}

.sectionIcon {
    width: 20px;
    height: 20px;
}

.menuIcon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}


.main {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    width: 100%;
}

.sections {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 1;
    transition: all 0.3s ease;
}

.visible {
    display: flex;
}

.sectionButton {
    background: #e6e6e6;
    border: solid 2px black;
    padding: 1rem;
    width: 14rem;
    height: 3rem;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    transition: background 0.3s ease, box-shadow 0.3s ease;
    font-weight: 500;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1.05rem;
    transition: all 0.3s ease;
    color: black;
}

.sectionButton:hover {
    background: #ddd;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.selectedButton {
    background: gray;
}

.sectionButton.active {
    background: #ccc;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}

.sectionContent {
    flex-grow: 1;
    color: #333;
    margin-left: 1rem;
    max-width: 60%;
}

@media (max-width: 768px) {
    .main {
        flex-direction: column;
    }

    .sections {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 2rem;
    }

    .sectionButton {
        width: calc(50% - 0.8rem);
    }

    .sectionContent {
        margin-left: 0;
        max-width: 100%;
    }

    .drugAliases {
        font-size: 1rem;
    }
}

@media (max-width: 380px) {
    .drugAliases {
        font-size: 0.9rem;
    }
}

