.btnContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.tagButton {
    margin-right: 5px;
    margin-bottom: 5px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modalRow {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.flexGroup {
    flex: 1;
}

.card {
    margin-bottom: 1rem;
}

.cardBody {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tagsContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.tag {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
}

.flexCol {
    display: flex;
    flex-direction: column;
}

.reportsContainer {
    max-height: 700px;
    overflow-y: auto;
}

.alert {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
}

.filters {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

@media (max-width: 600px) {
    .modalRow {
        flex-direction: column;
    }
}

@media (max-width: 1000px) {
    .btnContainer {
        display: flex;
        flex-direction: column;
    }
}


